<button
    class="bloc-button btn btn-d scrollToTop"
    onclick="scrollToTarget('1')"
    title="retour en début de page"
    aria-label="retour en début de page"
>
    <span class="fa fa-chevron-up"></span>
</button>
