<!DOCTYPE html>
<html lang="fr-fr">
    <!-- Head -->
    <%- include('head', {keywords, description, title, minified}) %>
    <body>
        <!-- header -->
        <%- include('header', {}) %>
        <!-- main -->
        <%- include(contentTemplate, contentData) %>
        <!-- footer -->
        <%- include('footer', {}) %>
    </body>
</html>
