<%- include('contact-banner', {}) %>
<!-- bloc-7 -->
<div class="bloc bgc-white l-bloc" id="bloc-7">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-6"><%- include('contact-form', {}) %></div>
            <div class="col-sm-6"><%- include('contact-address', {}) %></div>
        </div>
    </div>
</div>
<%- include('../../utils/scrollToTop', {}) %>
