<div id="map"></div>
<p>
    <a href="mailto:contact@lachouetteagence.com" itemprop="email">
        contact@lachouetteagence.com
    </a>
</p>
<p>
    Téléphone:
    <span itemprop="telephone" content="+33123456789">0123456789</span>
</p>
<p itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
    <span itemprop="streetAddress"> 2 place Sathonay </span>
    <span itemprop="postalCode">69001</span>
    <span itemprop="addressLocality">Lyon</span>
    <span itemprop="addressRegion">France</span>
</p>
<p itemprop="openingHours" content="Mo-Fr 09:00-18:00">
    Ouvert de 9h à 18h, du lundi au vendredi
</p>
