<div
    class="
        bloc
        bgc-dark-slate-blue
        bg-banniere
        d-bloc
        bloc-bg-texture
        texture-paper
    "
    id="bloc-5-cta"
>
    <div class="container bloc-lg">
        <section class="row">
            <h2 class="mg-md text-center tc-white">
                Prêt pour concrétiser vos projets web ?<br />
                Contactez notre équipe !
            </h2>
            <div class="col-sm-12 text-center">
                <a
                    href="contact.html"
                    class="
                        btn btn-atomic-tangerine btn-clean btn-rd btn-lg
                        cta-hero
                    "
                    rel="nofollow"
                >
                    Contact
                </a>
            </div>
        </section>
    </div>
</div>
