<div
    class="
        bloc
        bgc-dark-slate-blue
        bg-banniere
        d-bloc
        bg-t-edge
        bloc-bg-texture
        texture-paper
        b-parallax
    "
    id="bloc-1-hero"
>
    <div class="container bloc-lg">
        <div class="row tight-width-whitespace">
            <div class="col-sm-12">
                <img
                    src="img/logo.png"
                    class="center-block image-resize-mode"
                    width="100"
                    alt="La chouette agence, agence web paris, création logo paris"
                />
                <h1 class="text-center hero-bloc-text tc-white">
                    La chouette agence.
                </h1>
                <div class="text-center">
                    <a
                        href="contact.html"
                        class="
                            btn btn-lg btn-clean btn-rd
                            cta-hero
                            btn-atomic-tangerine
                        "
                        id="cta-hero"
                    >
                        Contact
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
