<!DOCTYPE html>
<html lang="fr-fr">
    <!-- Head -->
    <%- include('head/head', {keywords, description, title, minified}) %>
    <body>
        <header><%- include('header/header', {}) %></header>
        <main><%- include(contentTemplate, contentData) %></main>
        <footer><%- include('footer/footer', {}) %></footer>
    </body>
</html>
