<div
    class="bloc bgc-white bg-lines-h2-bg bg-repeat l-bloc"
    id="bloc-4-portfolio"
>
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>
                    Nous travaillons avec beaucoup de clients, voici nos
                    réalisations.
                </h2>
            </div>
        </div>
        <div class="row tight-width-whitespace portfolio-row">
            <% [projects[0], projects[1]].forEach(project => { %>
            <!-- begin for -->
            <%- include('project', project) %>
            <!-- end for -->
            <% }) %>
        </div>
        <div class="row tight-width-whitespace portfolio-row">
            <% [projects[2], projects[3]].forEach(project => { %>
            <!-- begin for -->
            <%- include('project', project) %>
            <!-- end for -->
            <% }) %>
        </div>
    </div>
</div>
