<% ['fa-twitter', 'fa-facebook', 'fa-dribbble', 'fa-instagram'].map( (item) => {
%>
<div class="col-sm-3">
    <div class="text-center">
        <a class="social" href="index.html">
            <span class="fa <%- item %> icon-md"></span>
        </a>
    </div>
</div>
<% }) %>
