<div class="bloc bgc-atomic-tangerine d-bloc" id="bloc-8">
    <div class="container bloc-sm">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center white">
                    La chouette agence - Agence web basée à Lyon.<br />
                </p>
                <div class="row row-no-gutters social">
                    <%- include('footer-links', {}) %>
                </div>
            </div>
        </div>
    </div>
</div>
