<% [
    {
        icon: 'fa-twitter',
        href: "http://twitter.com",
        label: "twitter"
    },
    {
        icon: 'fa-facebook',
        href: "http://facebook.com",
        label: "facebook"
    },
    {
        icon: 'fa-dribbble',
        href: "http://dribbble.com",
        label: "dribbble"
    },
    {
        icon: 'fa-instagram',
        href: "http://instagram.com",
        label: "instagram"
    }
].map((item) => { %>
<div class="col-sm-3">
    <div class="text-center">
        <a class="social" aria-label="<%- item.label %>" href="<%- item.href %>" rel="nofollow">
            <span class="fa <%- item.icon %> icon-md"></span>
        </a>
    </div>
</div>
<% }) %>
