<div class="bloc bgc-white l-bloc" id="bloc-2-services">
    <div class="container bloc-md">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
                <h2 itemprop="description">
                    La chouette agence est une agence de web design qui aide les
                    entreprise à devenir attractives et visible sur internet
                </h2>
            </div>
        </div>
        <div class="row voffset-lg med-width-whitespace">
            <% services.forEach(service => { %>
            <!-- begin for -->
            <%- include('service', service) %>
            <!-- end for -->
            <% }) %>
        </div>
        <div class="row voffset-lg voffset">
            <section class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h2>
                    “La chouette agence est une excellente agence web ! Les web
                    designers ont réussi à capturer l'essence de notre
                    entreprise et à l'intégrer à notre site. Cela nous à aidé à
                    doubler nos vente en ligne”
                </h2>
                <p>Maxime Guibard, PDG de À vos fourchettes</p>
            </section>
        </div>
    </div>
</div>
