<div class="col-sm-4">
    <div class="text-center">
        <span
            class="<%- icon %> sm-shadow icon-dark-slate-blue icons icon-lg"
        ></span>
    </div>
    <h3 class="mg-md text-center">&nbsp;<%- title %></h3>
    <p class="text-center"><%- description %></p>
</div>
