<a class="navbar-brand" href="index.html" rel="nofollow">
    <img
        src="img/la-chouette-agence.png"
        alt="paris web design logo agence web meilleure agence"
        height="40"
    />
</a>
<button
    id="nav-toggle"
    type="button"
    class="ui-navbar-toggle navbar-toggle"
    data-toggle="collapse"
    data-target=".navbar-1"
>
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
