<div class="bloc bgc-white l-bloc" id="bloc-0">
    <div class="container bloc-sm">
        <nav class="navbar row" role="navigation">
            <div class="navbar-header"><%- include('header-logo', {}) %></div>
            <div class="collapse navbar-collapse navbar-1 special-dropdown-nav">
                <%- include('header-links', {}) %>
            </div>
        </nav>
    </div>
</div>
